root = true

[**]
end_of_line = lf
indent_style = tab
trim_trailing_whitespace = true
charset = utf-8

[**.py]
insert_final_new_line = true
indent_size = 4


[**.js]
indent_size = 4


[**.{css, html}]
indent_size = 2
